/* Styles généraux */
body {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    color: white;
    height: 350px;
    width: 300px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    text-decoration: underline;

}


/* Conteneur des boutons */
.boutons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styles des boutons */
button {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
    color: #121212;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    outline: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 4px;
}

/* Styles hover */
button:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

/* bouton retour */
a {
  align-items: center;
  appearance: button;
  background-color: #0278fffd;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 7px;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

a:active {
  background-color: #006AE8;
}

a:hover {
  background-color: #1C84FF;
}
